$site-palette: (
  primary:    #749D51,
  secondary:  #ECB707,
  default:    #464943,
  inverse:    #FFFDF5,
  accent1:    #668A3F,
  accent2:    #4C6A37,
  accent3:    #F2ECD7,
  accent4:    #E9F3F7,
);