//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.875rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}

h4{
	font-family: $body-font-family;
}

h5{
	font-family: $body-font-family;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}

p{
	line-height: $line-height-md;
	color: get-color(default);
	font-size: 1.125rem;

	@include breakpoint (medium only) {
		line-height: $line-height-sm;
		font-size: 1rem;
	}//end medium only breakpoint

	@include breakpoint (small only){
		font-size: 1rem;
		line-height: $line-height-sm;
	}//end small only breakpoint
}//end p

.content{
	ul{
		list-style: none;
			margin-left: 2rem;
			line-height: 2rem;
		li{
			&:before{
				content: '';
				background-color: get-color(accent1);
				border-radius: 50%;
				display: inline-block;
				margin-left: -1.5rem;
				margin-right: 1rem;
				width: .5rem;
				height: .5rem;
				font-size: 1.5rem;
			}//end :before
			&:not(:last-of-type){
				margin-bottom: $spacing--xs;

				@include breakpoint (small only) {
					margin-bottom: $spacing--xs/2;
				}//end small only breakpoint
			}//end not:last-of-type
		}//end li
	}//end ul
}//end .content

