body {
	background-color: #4c6a37;
}

.module.callout{
	border: none;
	margin-bottom: 0;
	padding: 0;
	background-color: get-color(accent3);

	&.primary {
		background-color: get-color(primary);
	}//end primary
	
	&.accent2{
		background-color: get-color(accent2);
	}//end .accent2

	&.accent3-primary{
		background: linear-gradient(0deg, get-color(primary) 6rem, get-color(accent3) 6rem, get-color(accent3) 100%);
	}//end .accent2

	&.with-top{
		padding-top: $spacing--lg;
		
		@include breakpoint (medium only) {
			padding-top: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--sm;
		}//end small only breakpoint
	}//end with-top

	&.with-bottom{
		padding-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end with-bottom

	.inner{
		@include inner;
		max-width: rem-calc(1248px);

		.card-section{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $box-shadow-1;
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			a.vob{
				color: get-color(accent1);
				border-color: get-color(accent1);

				&:before{
					background-image: url("../img/icon/contact-color.svg");
				}//end before

				&:hover{
					box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
					background-color: get-color(inverse);
				}//end hover
			}//end a.vob

			.divider {
				background-color: #757260;
				height: 1px;
				width: 100%;
				margin: 22px auto;
				opacity: .5;
			}

			.sl_overlay__contact {
				display: flex;
				justify-content: left;
				align-items: left;
				max-width: 100%;
			}

			.sl_overlay__content a {
				text-decoration: underline;
			}

			.sl_overlay__btn a {
				box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
			}

			.sl_content__phone {
				color: #757260 !important;
    			font-weight: bold;
    			text-decoration: none !important;
			}

			.sl_overlay__phone {
				padding-left: 32px;
    			color: #544635;
    			font-size: 20px;
    			line-height: 24px;
    			text-align: center;
    			margin-top: 12px;
			}

			@include breakpoint (small only) {
				.sl_overlay__phone {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-top: 0;
				}
			}//end small only breakpoint

			.sl_overlay__phone span {
				padding-right: 8px;
			}

			.sl_overlay__phone a {
				font-family: Arial;
				font-weight: 700;
				color: #de9900;
				white-space: nowrap;
			}

			.sl_overlay__request {
				color: #544635;
				font-family: AlegreyaSans;
				font-size: 14px;
				font-style: italic;
				font-weight: 400;
				line-height: 16px;
			}
		}//end .card-section
	}//end .inner

	&.wide{
		.inner{
			@include inner;
		}//end .inner
	}//end .wide
}//end .module.callout