.module.content-block{
	background-color: get-color(accent3);
	padding: $spacing--lg $spacing--lg 0;

	@include breakpoint (small only) {
		padding: $spacing--sm $spacing--sm 0;
	}//end small only breakpoint

	&.accent-2{
		background-color: get-color(accent2);
		.inner{
			& > * {
				color: get-color(inverse);
			}//end *
		}//end .inner
	}//end .accent-2
	.inner{
		@include inner;
		& > :last-child{
			margin-bottom: 0;
		}//end &:last-childe
	}//end inner
}//end .module.content-block;