.module.duo{
	padding-top: $spacing--md;

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint
	.inner{
		@include inner;

		.section-title{
			color: get-color(inverse);
			text-align: center;
			margin-bottom: $spacing--lg;
			padding-top: $spacing--md;

			@include breakpoint (large only) {
				padding-top: $spacing--sm;
				margin-bottom: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding-top: $spacing--xs;
				margin-bottom: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				margin-bottom: $spacing--xs;
				padding-top: $spacing--xs;
			}//end small only breakpoint
		}//end .section-title
		.grid-x{
			.cell{
				&.media-cell {
					position: relative;

					@include breakpoint (small only) {
						position: static;
					}//end small only breakpoint
				}//end media-cell
				&.medium-order-1{
					padding-right: $spacing--xs;

					@include breakpoint (medium only) {
						padding-right: $spacing--xs/2;

						&.medium-12{
							padding: 0;
							margin-bottom: $spacing--xs;
							position: static;
						}//end medium-12
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint
				}//end medium-order-1

				&.medium-order-2{
					padding-left: $spacing--xs;

					@include breakpoint (medium only) {
						padding-left: $spacing--xs/2;

						&.medium-12{
							padding: 0;
						}//end medium-12
					}//end medium only breakpoint
					
					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint
				}//end medium-order-2

				&.small-order-1{
					@include breakpoint (small only) {
						margin-bottom: $spacing--sm;
					}//end small only breakpoint
				}//end small-order-1

				.duo--card{
					box-shadow: $box-shadow-1;
					background-color: get-color(inverse);
					border-radius: $border-radius;
					padding: $spacing--lg;

					@include breakpoint (large only) {
						padding: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding: $spacing--sm;
					}//end medium down breakpoint
					h1{
						margin-bottom: $spacing--md;
						line-height: 1;

						@include breakpoint (large only) {
							font-size: 2rem;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							font-size: rem-calc(26px);
							margin-bottom: $spacing--xs;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							margin-bottom: $spacing--xs;
						}//end small only breakpoint
					}//end h1

					h2{
					}//end h2

					h4{
						margin-bottom: $spacing--xs;
						line-height: 1;

						@include breakpoint (small only) {
							line-height: 1.5;
						}//end small only breakpoint

						&.insurance {
							font-size: 1.375rem;
							line-height: 1.75rem;
						}//end .insurance
					}//end h4

					h5{
						margin-bottom: $spacing--md;
					}//end h5
					.divider{
						background-color: get-color(primary);
						display: block;
						margin-bottom: $spacing--md;
						width: 4rem;
						height: 4px;

						@include breakpoint (medium down) {
							margin-bottom: $spacing--xs;
						}//end medium down breakpoint
					}//end divider

					.accreditations{
						margin-bottom: $spacing--sm;
						img{
							max-height: 100px;

							&:first-of-type{
								margin-right: $spacing--sm;
							}//end first-of-type 
						}//end img
					}//end .accreditations

					& > :last-child{
						margin-bottom: 0;
					}//end last-child
				}//end .duo--card

				.duo--media{
					border-radius: $border-radius;
					position: relative;
					box-shadow: $box-shadow-1;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;

					@include breakpoint (medium only) {
						min-height: 300px;
						position: relative;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						min-height: 250px;
						position: relative;
					}//end small-only breakpoint

					//FAMILY PROGRAM IMAGE POSITION
					@at-root .module.duo.family-program .inner .grid-x .cell .duo--media{
						background-position: right center;

						@include breakpoint (large only) {
							background-position: 60% center;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							background-position: 58% center;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							background-position: right 60%;
						}//end small only breakpoint
					}//end .family-program

					//ADMISSIONS IMAGE POSITION
					@at-root #admissions-intro.module.duo .inner .grid-x .cell .duo--media{
						background-position: right center;

						@include breakpoint (medium only) {
							background-position-y: 35%;
						}//end medium only breakpoint
					}//end #admissions-intro

					//BRANDED BILLBOARD
					@at-root .module.duo.branded .inner .grid-x .cell .duo--media{
						align-items: flex-end;
						padding-bottom: $spacing--sm;
					}//end #admissions-intro

					.button{
						background-color: get-color(inverse);
						color: get-color(primary);
						padding: $spacing--xs $spacing--xl;
						box-shadow: $box-shadow-1;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:before{
							content:'';
							background-image: url("../img/icon/play-video.svg");
							background-repeat: no-repeat;
							height:24px;
							width: 24px;
							display: inline-block;
							font-size: $fontsize--md;
							margin-right: $spacing--xs;
						}//end before

						&:hover{
							@include transition;
							transform: scale(1.05);
							box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
						}//end hover
					}//end button

					&.overlay{
						padding: $spacing--lg;
						overflow: hidden;

						&:after{
							@include overlay;
							background-image: linear-gradient(-144deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.65) 100%);
						}//end after

						.logo{
							z-index: 1;
							position: relative;
						}//end img
					}//end overlay

					&.stacked{
						box-shadow: none;

						.cell{
							width: 100%;
							position: relative;
							flex: 1 0 auto;
							border-radius: $border-radius;
							overflow: hidden;
							box-shadow: $box-shadow-1;

							&:not(:first-of-type){
								margin-top: $spacing--sm/2;
							}//end not:last-of-type

							&:not(:last-of-type){
								margin-bottom: $spacing--sm/2;
							}//end not:last-of-type

							.stacked-button{
								background-size: cover;
								background-repeat: no-repeat;
								display: flex;
								justify-content: center;
								align-items: center;
								flex-direction: column;
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								left: 0;
								padding: $spacing--sm;

								&:before{
									@include overlay;
									background-color: rgba(#494638,.6);
								}//end before

								p{
									font-weight: $font-weight-bold;
									font-size: $fontsize--lg;
									color: get-color(inverse);
									margin-bottom: 0;
									position: relative;
									line-height: 1.1;
									margin-bottom: $spacing--xs/2;
									text-align: center;

									@include breakpoint (large only) {
										font-size: $fontsize--md;
									}//end large only breakpoint

									@include breakpoint (small only) {
										font-size: $fontsize--md;
									}//end small only breakpoint
								}//end p

								span{
									font-size: 12px;
									line-height: 1;
									text-transform: uppercase;
									font-weight: $font-weight-extrabold;
									color: get-color(inverse);
									position: relative;
									@include transition;

									&:after{
										content: "+";
										font-size: 1rem;
										top: 0;
										bottom: 0;
										width: 16px;
										display: inline-block;
										margin-left: $spacing--xs/2;
										color: get-color(inverse);
										@include transition;
									}//end after
								}//end span

								&:hover{
									box-shadow: 0px 0px 30px rgba(get-color(primary),.7);
									@include transition;

									&:before{
										background-color: rgba(get-color(accent1),.60);
										@include transition;
									}//end before

									span{

									 	&:after{
									 		color: get-color(secondary);
									 		transform: rotate(360deg);
											transform-origin: 50% 50%;
											@include transition;
									 	}//end after
									 }//end span
								}//end hover
							}//end .stacked-button
						}//end .cell
					}//end .stacked
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner

	&--billboard{
		background: linear-gradient(0deg, get-color(accent3) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
		margin-top: -9.5rem;
		padding-top: $spacing--md + 9.5rem;
		.inner{
			.grid-x{
				.cell{
					.duo--card{
						h1{
							margin-bottom: rem-calc(10px);
						}//end h1
						& > p{
							margin-bottom: $spacing--sm;

							@include breakpoint (medium only) {
								margin-bottom: $spacing--xs;
							}//end medium only breakpoint
						}//end p

						h4{
							margin-bottom: $spacing--md;
							line-height: 1;


							@include breakpoint (medium down) {
								margin-bottom: $spacing--sm;
								line-height: 1;
							}//end medium down breakpoint
						}//end h4
					}//end .duo-card
				}//end .cell
			}// end .grid-x
		}//end .inner
	}//end .billboard

	&.primary-inverse{
		background: linear-gradient(0deg, get-color(inverse) 6rem, get-color(primary) 6rem, get-color(primary) 100%);
	}//end .primary-inverse

	&.accent2-accent3{
		background: linear-gradient(0deg, get-color(accent3) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
	}//end .accent2-accent3
	&.accent3-accent2{
		background: linear-gradient(0deg, get-color(accent2) 6rem, get-color(accent3) 6rem, get-color(accent3) 100%);
	}//end .accent3-accent2

	&.accent2-primary{
		background: linear-gradient(0deg, get-color(primary) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
	}//end .accent2-primaru

	&.accent2-inverse{
		background: linear-gradient(0deg, get-color(inverse) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
	}//end .accent2-inverse

	&.accent1{
		background-color: get-color(accent1);
	}//end .accent1

	&.accent3{
		background-color: get-color(accent3);
	}//end .accent3

	&.primary{
		background-color: get-color(primary);
	}//end .primary

	&.with-bottom{
		padding-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end .with-bottom

	&--insurance{
		background-color: get-color(inverse);
		padding-top: $spacing--xl;

		@include breakpoint (large only) {
			padding-top: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--sm;
		}//end small only breakpoint
		.inner{
			.grid-x{
				.cell{
					.duo--card{
						box-shadow: none;
						padding: 0 $spacing--lg 0 0;
						background: none;

						@include breakpoint (large only) {
							padding: 0 $spacing--sm 0 0;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding: 0 $spacing--xs 0 0;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							padding: 0;
						}//end small only breakpoint
					}//end .duo--card

					.duo--media{
						position: relative;
						display: flex;
						align-items: center;
						min-height: 350px;
						box-shadow: none;
						height: 100%;

						.grid-x {
							width: 100%;
							min-height: 340px;

							@include breakpoint (medium only) {
								min-height: 500px;
							}//end medium only breakpoint

							.cell{
								display: flex;
								justify-content: center;
								margin-bottom: $spacing--xs;
								padding: $spacing--xs/2;

								@include breakpoint (medium only){
									margin-bottom: $spacing--sm;
									padding: $spacing--xs;
								}//end medium only breakpoint

								@include breakpoint (small only){
									padding: $spacing--xs;
								}//end small only breakpoint
								.insurance-logos{
									align-self: center;
									flex: 0 1 auto;
								}//end insurance logos
							}//end cell
						}//end .grid-x
					}//end .duo--media

					&.medium-12{
						.duo--media{
							.grid-x{
								@include breakpoint (medium only) {
									min-height: 340px;
								}//end medium only breakpoint
							}//end .grid-x
						}//end .duo--media
					}//end .medium-12
						
				}//end .cell
			}//end .grid-x
		}//end .inner

		&.contained{
			background: linear-gradient(0deg, get-color(primary) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
			padding-top: $spacing--md;
			.inner{
				& > .grid-x{
					border-radius: $border-radius;
					box-shadow: $box-shadow-1;
					padding: $spacing--lg;
					background-color: get-color(inverse);

					@include breakpoint (small only) {
						padding: $spacing--sm;
					}//end small only breakpoint

					.cell{
						.duo--card{
							h1{
								font-size: 2rem;
							}//end h1

							.button-group.expanded{

								@include breakpoint (large down) {
									flex-direction: column;
									width: 100%;
								}//end large down breakpoint
								.button{
									@include breakpoint (large down) {
										width: 100%;
									}//end large down breakpoint

									&:first-of-type{

										@include breakpoint (large down) {
											margin-right: 0;
											margin-bottom: $spacing--xs;
										}//end large down breakpoint
									}//end first of type
								}//end .button
							}//end .button-group

							a.vob{
								color: get-color(accent1);
								border-color: get-color(accent1);

								&:before{
									background-image: url("../img/icon/contact-color.svg");
								}//end before

								&:hover{
									box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
									background-color: get-color(inverse);
								}//end hover
							}//end a.vob
						}//end .duo--card
					}//end .cell
				}//end .grid-x
			}//end .inner
		}//end .contained
	}//end .insurance
}//end .module.duo--basic