.footer{
	background-color: get-color(accent1);
	padding: $spacing--xs 0;
	
	.inner{
		@include inner
		.privacy-policy{
			text-align: center;
			color: get-color(inverse);

			a{
				color: get-color(inverse);
				text-decoration: underline;
			}//end a
		}//end privacy policy
	}//end inner
}//end footer