.module.gallery{
	background: linear-gradient(0deg, get-color(primary) 12rem, get-color(accent3) 12rem, get-color(accent3) 100%);
	padding-top: $spacing--md;

	@include breakpoint (medium only) {
		padding-top: $spacing--sm;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
		background: linear-gradient(0deg, get-color(primary) 6rem, get-color(accent3) 6rem, get-color(accent3) 100%);
	}//end small only breakpoint
	.inner{
		@include inner;
		max-width: rem-calc(1020px);
		.gallery-card{
			margin-bottom: $spacing--md;
			& > * {
				text-align: center;

				@include breakpoint (small only) {
					text-align: left;
				}//end small only breakpoint
			}//end *

			& > :last-child{
				margin-bottom: 0;
			}//end last-child
		}//end .gallery-card

		.gallery__slider{
			position: relative;
			display: block;
			height: 450px;

			@include breakpoint (small only) {
				height: 250px;
			}//end small only breakpoint

			.slick-list{
				overflow: hidden;
				border-radius: $border-radius;
				box-shadow: $box-shadow-1;
				width: 100%;
				height: 100%;
					.slick-track, .slick-track  div {
						height: 100%; 
						width: 100%;
					}//end .slick-track, .slick-track  div
					.slick-slide{
						& > div {
							position: relative;
						}//end div
						.gallery-image{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: right bottom;
						}//end .gallery-image
					}//end .slick-slide

			}//end slick-list

			.slick-arrow{
				position: absolute;
				height: 60px;
				width: 60px;
				background: get-color(inverse);
				z-index: 1;
				align-self: center;
				justify-content: center;
				box-shadow: 2px 4px 16px rgba(0,0,0,.1);
				border-radius: $border-radius;
				top: calc(50% - 30px);
				cursor: pointer;
				@include transition;

				@include breakpoint (small only) {
					height: 40px;
					width: 40px;
					top: calc(50% - 20px);
				}//end small only breakpoint

				&:after{
					content:'';
					background-repeat: no-repeat;
					display: block;
					position: absolute;
					height: 18px;
					width: 10px;
					top: calc(50% - 9px);
					left: calc(50% - 5px);

					@include breakpoint (small only) {
						font-size: 1.7rem;
					}//end small only breakpoint
				}//end after

				&.slick-prev{
					left: -1rem;
					&:after{
						background-image: url("../img/icon/angle-left.svg");
					}//end after
				}//end slick-prev

				&.slick-next{
					right: -1rem;

					&:after{
						background-image: url("../img/icon/angle-right.svg");
					}//end after
				}//end slick-next

				&:hover{
					box-shadow: $box-shadow-1;
					background: darken(get-color(inverse),5%);
					transform: translateY(2px);
					@include transition;
				}//end hover
			}//end slick-arrow
		}//end accreditaion__slider
	}//end .inner
}//end .module.gallery