#nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	@include inner;
	padding-top: $spacing--md;
	padding-bottom: $spacing--sm;
	background-color:#f2ecd7;

	@include breakpoint (medium only) {
		padding-top: $spacing--sm;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: 0;
	}//end small only breakpoint

	#mobilephone{
		.cell{
			color: get-color(inverse);
			text-align: center;
			font-family: $body-font-family;
			font-size: 1rem;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			padding: $spacing--xs/2 0;
			flex: 1 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&.mobilephone__chat{
				background: get-color(inverse);
				color: get-color(accent1);
				display: none;

				&:before{
					content: '';
					background-image: url("../img/icon/chat-color.svg");
					background-repeat: no-repeat;
					height: 18px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before

				&.active{
					display: flex;
				}//end .active
			}//end .mobilephone__chat
			&.mobilephone__call{
				background: get-color(secondary);

				&:before{
					content:'';
					background-image: url("../img/icon/phone-white.svg");
					background-repeat: no-repeat;
					height: 20px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before
			}//end .mobilephone__chat
		}//end .cell
	}//end #mobilephone
	.title-bar{
		background: get-color(primary);
		position: relative;
		padding: 0;

		&-left{
			padding: $spacing--xs;
			max-width: 200px;
			flex: 1 0 auto;
			.site-logo{
				max-width: 100px;
			}//end .site-logo
		}//end &-left

		&-right{
			padding: $spacing--xs/2 $spacing--xs;
			flex: 2 1 auto;
			.hamburger{
				padding: 0;

				&:focus{
					outline: none;
				}//end focus

				&:hover{
					opacity: 1;
				}//end hover
				.hamburger-label{
					color: get-color(inverse);
					text-transform: uppercase;
					font-family: $body-font-family;
					font-size: 12px;
					letter-spacing: 1px;
					font-weight: $font-weight-extrabold;
					line-height: 1;
					display: block;
				}//end .hamburger-label

				&-inner{
					background: get-color(inverse);
					&:after, &:before{
						background: get-color(inverse);
					}//end before and after
				}//end hamburger-inner
			}//.end hamburger

			.carf-logo{
				width:75px;
				margin: 0 0 0 auto;
			}//end .carf-logo
		}//end &-right
	}//end .title-bar

	#mobile-menu{
		background-color: get-color(accent1);
		box-shadow: $box-shadow-1;
		padding: $spacing--xs;
		.main-menu{
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			font-family: $body-font-family;
			font-weight: $font-weight-bold;
			font-size: 1rem;
			letter-spacing: 1px;
			text-transform: uppercase;


			.menu-text{
				&:not(:last-child){
					margin-bottom: $spacing--xs;
				}//end not last child
				
				a{
					color: get-color(inverse);
				}//end a
			}//end .menu-text
		}//end .main-menu
	}//end #mobile-menu
	.top-bar{
		background: get-color(primary);
		padding: 0;
		box-shadow: $box-shadow-1;
		border-radius: $border-radius;
		overflow: hidden;
		height: 120px;
		@include transition;

		@include breakpoint (medium only) {
			height: 105px;
		}//end medium only breakpoint

		.inner{
			display: flex;
			align-items: center;
			margin: 0 auto;
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;

			.top-bar-left{
				max-width: 264px;
				margin: 0;
				flex: 0 0 100%;
				background-color: get-color(accent1);
				height: 100%;

				@include breakpoint (large only) {
					max-width: 200px;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					max-width: 150px;
				}//end medium only breakpoint

				a{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					@include transition;
					padding: $spacing--md;

					img{
						max-width: 200px;
						max-height: 54px;

						@include breakpoint (large only) {
							max-width: 150px;
							max-height: 40px;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							max-width: 125px;
							max-height: 80px;
						}//end medium only breakpoint
					}//end img
				}//end a
			}// end .top-bar-left

			.top-bar-right{
				display: flex;
				height: 100%;
				align-self: center;
				align-items: flex-end;
				flex-direction: column-reverse;
				padding-right: $spacing--md;
				flex: 1 1 auto;
				margin: 0;


				&.no-nav{
					justify-content: flex-end;
					flex-direction: row;
					align-items: center;
				}//end .no-nav

				@include breakpoint (large only) {
					padding-right: $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding-right: $spacing--xs/2;
				}//end medium only breakpoint

				.dropdown.menu{
					flex: 0 0 auto;
					font-family: $body-font-family;
					font-size: $fontsize--md;
					color: get-color(inverse);
					background: transparent;

					@include breakpoint (medium only){
						letter-spacing: .3px;
						padding-right: 0;
						font-size: 14px;
					}//end medium only breakpoint
					li{
						padding: 0;
						@include transition;

						&:hover{
							a{
								&:after{
									height: 6px;
									@include transition;
								}//end :after
							}//end a
						}//end hover
						a{
							color: get-color(inverse);
							padding: $spacing--xs;
							position: relative;
							@include transition;

							@include breakpoint (medium only) {
								padding: $spacing--xs .7rem;
							}//end medium only breakpoint

							&:after {
								content: '';
								position: absolute;
								bottom: 0px;
								left: 0;
								width: 100%;
								height: 0px;
								background-color: get-color(accent1);
								opacity: .5;
								border-radius: 2px 2px 0px 0px;
								@include transition; 
							}//end :after
						}//end a
					}//end li

				}//end .dropdown menu
				#callinfo{
					flex: 0 0 auto;
					font-family: $body-font-family;
					font-size: 1.25rem;
					line-height: 1;
					font-weight: $font-weight-bold;
					text-transform: uppercase;
					color: get-color(inverse);
					padding: $spacing--xs $spacing--md;
					background-color: get-color(secondary);
					border-radius: $border-pill;
					text-shadow: 1px 1px 4px #c48a00;
					margin: 0;
					box-shadow: none;

					@include breakpoint (medium only){
						font-size: 1rem;
						padding: rem-calc(12px) $spacing--xs;
					}//end medium only breakpoint
				}//end .callinfo

				a.vob{
					margin-bottom: 0;
					margin-right: $spacing--sm;
					font-size: 1.125rem;

					@include breakpoint (medium only) {
						font-size: 1rem;
						margin-right: $spacing--xs;
						padding: rem-calc(12px) $spacing--xs;
					}//end medium only breakpoint
				}
			}// end .top-bar-right

			.accreditation{
				width: 132px;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				border-left: 2px solid rgba(get-color(accent1),.5);
				padding: 10px $spacing--xs;

				@include breakpoint (medium only) {
					width: 100px;
					padding: 10px $spacing--xs/2;
				}//end medium only breakpoint
			}//end .accreditation
	}//end inner
	}//end .top-bar
}//end #nav