.page-title{
	background: get-color(accent2);
	margin-top: -9.5rem;
	padding-top: $spacing--md + 9.5rem;
	.inner{
		@include inner;

		h1{
			color: get-color(inverse);
			text-align: center;
			margin-bottom:0;
		}//end h1
	}//end inner
}//end page-title