//REVEAL

.reveal-overlay{
	background: rgba(get-color(default),.8);
	z-index: 99999;
	padding: $spacing--sm;

	.reveal{
		background: get-color(inverse);
		border-radius: $border-radius;
		border: none;
		padding: $spacing--xxl $spacing--xl;
		box-shadow: $box-shadow-1;
		width: 80%;
		margin: auto;

		@include breakpoint (xlarge only){
			padding: $spacing--xl;
		}//end xlarge only breakpoint

		@include breakpoint (large only){
			padding: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only){
			padding: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only){
			width: 100%;
			padding: $spacing--sm;
			height: auto;
			min-height: 0;
			max-height: 100vh;
			overflow-y: scroll;
		}//end small only breakpoint
		&.treatment-modals, &.location-modals, &.vob, &.stacked-modals {

			@include breakpoint (small only) {
				padding-top: $spacing--xl;
			}//end small only breakpoint
			.close-button{
				color: get-color(inverse);
				background-color: get-color(primary);
				box-shadow: $box-shadow-1;
				width: 45px;
				height: 45px;
				border-radius: $border-radius;
				top: $spacing--md;
				right: $spacing--md;
				@include transition;

				@include breakpoint (medium only){
					top: $spacing--sm;
					right: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only){
					top: $spacing--xs;
					right: $spacing--xs;
					width: 40px;
					height: 40px;
				}//end small only breakpoint

				&:hover{
					box-shadow: none;
					background-color: get-color(default);
					@include transition;
				}//end hover
			}//end .close-button
		}//end .treatment-modals

		&.video{
			padding: 0;
			border:none;

			.widescreen.flex-video{
				margin-bottom: 0;
				border-radius: $border-radius;
				overflow: hidden;

				iframe{
					border: none;
				}//end iframe
			}//end widescreen.flex-video

			.close-button{
				color: get-color(primary);
				background-color: get-color(inverse);
				box-shadow: $box-shadow-1;
				width: 45px;
				height: 45px;
				border-radius: $border-radius;
				top: $spacing--md;
				right: $spacing--md;
				@include transition;

				@include breakpoint (medium only){
					top: $spacing--sm;
					right: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only){
					top: $spacing--xs;
					right: $spacing--xs;
				}//end small only breakpoint

				&:hover{
					box-shadow: none;
					color: get-color(inverse);
					background-color: get-color(primary);
					@include transition;
				}//end hover
			}//end .close-button
		}//end video
	}//end .reveal
}//end reveal overlay