.module.spotlight{
	padding-top: $spacing--xl;
	background: linear-gradient(180deg, get-color(inverse) 12rem, get-color(accent3) 12rem, get-color(accent3) 100%);

	@include breakpoint (large only) {
		padding-top: $spacing--lg
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--md;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint

	&.inverse-primary{
		background: linear-gradient(0deg, get-color(primary) 6rem, get-color(inverse) 6rem, get-color(inverse) 100%);
	}//end .inverse-primary

	&.with-bottom{
		padding-bottom: $spacing--xl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--lg
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end .with-bottom
	.inner{
		@include inner;
		@include innerpadding;

		.media-container{
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $box-shadow-1;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			@include breakpoint (small only) {
				height: auto;
			}//end small only breakpoint

			.card-section{
				background-color: rgba(get-color(accent2),.9);
				padding: $spacing--md;
				max-width: 450px;
				min-height: 640px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				@include breakpoint (medium only) {
					max-width: 350px;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					max-width: none;
				}//end small only breakpoint

				& > * {
					color: get-color(inverse);
				}//end *

				h2{
					margin-bottom: $spacing--md;

					@include breakpoint (small only) {
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end h2

				h3{
					font-family: $body-font-family;
					font-size: 1rem;
					font-weight: $font-weight-bold;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: get-color(accent3);
				}//end h3

				.expanded.button-group{
					flex-direction: column;
					width: 100%;
					.button{
						flex: 1 1 auto;
						
						&:first-of-type{
							margin: 0;
							margin-bottom: $spacing--xs;
						}//end :first-of-type
						&.primary{
							&.chat{
								border-color: get-color(inverse);
								color: get-color(inverse);

								&:before{
									background-image: url("../img/icon/chat-white.svg");
								}
							}//end .chat
						}//end .primary
					}//end .button
				}//end .expanded.button-group

			}//end .card-section
		}//end .media-container
	}//end .inner
}//end .module.spotlight