.module.staff{
	padding-top: $spacing--xl;
	background-color: get-color(accent3);

	@include breakpoint (large only) {
		padding-top: $spacing--lg;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--md;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint

	&.accent2-inverse{
		background: linear-gradient(0deg, get-color(inverse) 6rem, get-color(accent2) 6rem, get-color(accent2) 100%);
		.inner{
			h2{
				color: get-color(inverse);
			}//end h2
			.staff-container{
				box-shadow: $box-shadow-1;
			}//end .staff-container
		}//end .inner
	}//end .accent2-inverse

	.inner{
		@include inner;

		h2{
			text-align: center;
			margin-bottom: $spacing--sm;
		}//end h2

		.staff-container{
			padding: $spacing--md $spacing--lg;
			background-color: get-color(inverse);
			border-radius: $border-radius;

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			& > .grid-x{
				& > .cell{
					&:first-of-type{
						padding-right: $spacing--lg;

						@include breakpoint (large only) {
							padding-right: $spacing--sm;
						}//end large only breakpoint

						@include breakpoint (small only) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small only breakpoint
					}//end &:first-of-type

					&:last-of-type{
						padding-left: $spacing--lg;
						border-left: 1px solid rgba(get-color(default),.2);

						@include breakpoint (large only) {
							padding-left: $spacing--sm
						}//end large only breakpoint

						@include breakpoint (small only) {
							padding: 0;
							border: none;
						}//end small only breakpoint
					}//end &:last-of-type

					& > :last-child{
						margin-bottom: 0;
					}//end last-child

					& > .grid-x{
						margin-bottom: $spacing--xs;
						flex-flow: row;

						@include breakpoint (medium down) {
							flex-flow: column;
						}//end medium down breakpoint
					}//end .grid-x

					.staff-photo{
						height: 120px;
						width: 120px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						border-radius: 50%;

						@include breakpoint (large only) {
							height: 100px;
							width: 100px;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							max-width: 120px;
							width: 100%;
							margin: 0 auto $spacing--xs;
						}//end medium down breakpoint
					}//end .staff-photo
					.staff-info{
						align-self: center;
						padding-left: $spacing--md;

						@include breakpoint (large only) {
							padding-left: $spacing--xs;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: 0;

							& > * {
								text-align: center;
							}
						}//end medium down breakpoint

						h3{
							color: get-color(accent1);
							font-weight: $font-weight-bold;
							font-family: $body-font-family;
							line-height: 1;
							margin-bottom: $spacing--xs/2;
							font-size: 1.5rem;

							@include breakpoint (large down) {
								font-size: 1.25rem;
							}//end large down breakpoint
						}//end h3

						h4{
							font-size: 1.25rem;

							@include breakpoint (large down) {
								font-size: rem-calc(18px);
								margin-bottom: 0;
							}//end large down breakpoint
						}//end h4
					}//end .staff-info
				}//end .cell
			}//end .grid-x
		}//end .staff-container
	}//end .inner
}//end .module.staff