.button{
	font-family: $body-font-family;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	padding: $spacing--xs $spacing--md;
	font-size: 1.25rem;
	display: block;
	border-radius: $border-pill;
	overflow: hidden;
	position: relative;
	box-shadow: $box-shadow-2;

	@include breakpoint (medium only) {
		font-size: 1.125rem;
		padding: rem-calc(12px) $spacing--sm;
	}//end medium only breakpoint

	@media screen and (min-width: 300px) and (max-width: 350px){
		font-size: 1rem;
	}

	&.primary{
		background: get-color(secondary);
		color: get-color(inverse);
		flex-direction: column;
		text-shadow: 1px 1px 4px #c48a00;
		@include transition;

		&:hover, &:focus{
			background-color: get-color(secondary);
			box-shadow: $box-shadow-2-hover;
			color: get-color(inverse);
			@include transition;
		}//end hover

		&.chat{
			display: none;
			background: none;
			flex-direction: row;
			padding-top: $spacing--xs;
			padding-bottom: $spacing--xs;
			color: get-color(accent1);
			border: 2px solid get-color(accent1);
			box-shadow: none;
			text-shadow: none;
			
			&:before{
				content:'';
				background-image: url("../img/icon/chat-color.svg");
				background-repeat: no-repeat;
				height:17px;
				width: 20px;
				display: inline-block;
				margin-right: $spacing--xs;
			}//end before
			

			&:hover{
				box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
				@include transition;
			}//end hover

			&.active{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}//end chat

		&.outline{
			display: none;
			background: none;
			flex-direction: row;
			color: get-color(accent1);
			border: 2px solid get-color(accent1);
			box-shadow: none;
			text-shadow: none;

			&:hover{
				box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
				@include transition;
			}//end hover
		}//end .outline

		.chat-is-offline{
			display: none;
		}

		&.offline{
			.chat-is-online{
				display: none;
			}//end .chat-is-online

			.chat-is-offline{
				display: block;
			}//end .chat-is-offline
		}//end offline
	}//end primary

	&.vob{
		display: flex;
		justify-content: center;
		flex-direction: row;
		background-color: transparent;
		border: 2px solid get-color(inverse);
		text-shadow: none;
		box-shadow: none;

		&:before{
			content:'';
			background-image: url("../img/icon/contact.svg");
			background-repeat: no-repeat;
			height:19px;
			width: 19px;
			display: inline-block;
			margin-right: $spacing--xs;
		}//end before

		&:hover, &:focus{
			background-color: rgba(get-color(default),.2);
			box-shadow: none;
			@include transition;
		}//end hover

		@include breakpoint (medium down) {
			font-size: 1.125rem;
		}//end medium down breakpoint
	}//end .vob
}// end .button

.button-group.expanded{
	align-self: center;

	@include breakpoint (small only) {
		flex-direction: column;
		width: 100%;
	}//end small only breakpoint
	.button{
		flex: 0 0 auto;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&.chat{
			display: none;

			&.active{
				display: flex;
			}//end .active
		}//end .chat

		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint

		&:first-of-type{
			margin-right: $spacing--xs;

			@include breakpoint (small only) {
				margin-right: 0;
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end first of type

		&.vob{
			@include breakpoint (medium down) {
				font-size: 1.125rem;
			}//end medium down breakpoint
		}//end .vob
	}//end .button
}//end .button-group

.button-cta{
	display: flex;
	align-items: center;

	@include breakpoint (medium down) {
		flex-direction: column;
	}//end medium down breakpoint

	.button{
		margin-bottom: 0;
		flex: 0 0 auto;

		@include breakpoint (large only) {
			padding: 1rem 1.25rem;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			flex: 1 1 auto;
			align-self: stretch;
		}//end medium down breakpoint
	}//end .button
	
	p{
		margin-left: $spacing--xs;
		padding-left: $spacing--xs;
		border-left: 1px solid rgba(get-color(default),.5);
		font-size: 1rem;
		font-weight: $font-weight-bold;
		line-height: 1.25rem;
		margin-bottom: 0;

		@include breakpoint (medium down) {
			padding: $spacing--xs 0 0 0;
			margin: $spacing--xs 0 0 0;
			border-left: 0;
			border-top: 1px solid rgba(get-color(default),.5);
			text-align: center;
			font-size: 1.25rem;
			line-height: 1.5rem;
			align-self: stretch;
		}//end medium down breakpoint

	}//end p
}//end .button-cta

.inner{
	margin: 0 auto;
	max-width: $container;
}//end inner

.divider{
	background-color: get-color(primary);
	display: block;
	margin-bottom: $spacing--sm;
	width: 4rem;
	height: 4px;

	@include breakpoint (small only) {
		margin-bottom: $spacing--xs;
	}//end small only breakpoint
}//end divider

.content{
	width: 100vw;
}//end .conttent

.module.first-module{
	margin-top: -9.5rem;
	padding-top: $spacing--md + 9.5rem !important;
}//end .module.first-module