.module.insurance-keywords {
	padding: $spacing--xl;
	padding-bottom: 0;
	background-color: get-color(inverse);

	@include breakpoint (medium only) {
		padding: $spacing--lg $spacing--xs;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint
	.inner {
		@include inner;
		max-width: 1200px;
		.insurance-keywords--card {
			.insurance-logos {
				margin-bottom: $spacing--sm;
			}//end .insurance-logos

			.expanded.button-group {
				margin-bottom: 0;

				a.vob{
					color: get-color(accent1);
					border-color: get-color(accent1);

					&:before{
						background-image: url("../img/icon/contact-color.svg");
					}//end before

					&:hover{
						box-shadow: 0px 2px 30px rgba(get-color(primary),.7);
						background-color: get-color(inverse);
					}//end hover
				}//end a.vob
			}//end .expanded.button-group
		}//end .insurance-keywords--card
	}//end .inner
}//end .module.insurance-keywords