<div id="{{id}}" class="module spotlight {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if img}}<div class="media-container" style="background-image:url({{img}})">{{/if}}
			<div class="card-section">
				{{#if pre-heading}}<h3>{{pre-heading}}</h3>{{/if}}
				<h2>{{heading}}</h2>
				{{#if divider}}<div class="divider"></div>{{/if}}
				<p>{{text}}</p>

				{{#if buttons}}
				<div class="expanded button-group">
			        {{> component-button phone=true}}
			        {{> component-button chat=true}}
			    </div>{{!--/.expanded.butotn-group--}}
			    {{/if}}

			    {{#if buttons-vob}}
				<div class="expanded button-group">
			        {{> component-button phone=true}}
			        {{> component-button vob=true}}
			    </div>{{!--/.expanded.butotn-group--}}
			    {{/if}}

			    {{#if button}}
			    	{{> component-button phone=true}}
			    {{/if}}
			    {{#if button-cta}}
			    <div class="button-cta">
			    	{{> component-button phone=true}}
			    	{{#markdown}}{{button-cta}}{{/markdown}}
			    </div>{{!--/.button-cta--}}
			    {{/if}}
			</div> {{!--/.card-section--}}
		{{#if img}}</div>{{/if}}{{!--/.media-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}