<div id="footer-cta" class="module duo--cta {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x medium-up-2">
			<div class="cell medium-order-1 small-order-2">
				<div class="duo--card">
					<h2>Speak with an admissions coordinator</h2>
					{{> component-button phone=true ga-label="Phone Clicks Footer"}}
				</div>{{!--/.duo--card--}}
			</div>{{!--/.cell--}}
			<div class="cell medium-order-2 small-order-1">
				<div class="duo--media">
				</div>{{!--/.duo--media--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--cta--}}