<!-- {{> component-accreditations}} -->
<div id="footer" class="footer">
	<div class="inner">
		<div class="privacy-policy">
	  			©2020 The Oaks at Lakeside. All Rights Reserved. <a href="https://theoakstreatment.com/terms">Terms</a> | <a href="https://theoakstreatment.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
    	</div>{{!--/.privacy-policy--}}
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}