<div id="vob-callout" class="module vob {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x vob-card">
			<div class="cell xlarge-9 large-8">
				<h2>Have questions? Need some guidance?</h2>
				{{#if insurance-keywords}}
                <p>We can help you sort out the details of your {{> keywords}} policy.
                </p>
                {{else}}
				<p>It is our mission to support you whether The Oaks at La Paloma is the right solution for you or not.
				{{/if}}
			</div>{{!--/.cell--}}
			<div class="cell xlarge-3 large-4">
				<p>Give us a call:</p>
				{{> component-button phone=true}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}