<div id="{{id}}" class="module location-map {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">
			<div class="cell large-5 medium-6 medium-order-1 small-order-2">
				<div class="map-card">
					<h2>{{heading}}</h2>
					<div class="divider"></div>
					<h4>{{facility}}</h4>
					{{#markdown}}{{address}}{{/markdown}}
					{{> component-button phone=true}}
				</div>{{!--/.map-card--}}
			</div>{{!--/.cell--}}
			<div class="cell large-7 medium-6 medium-order-2 small-order-1">
				<div class="map-container">
					<div class="map"
					data-map
					data-map-lat="35.2067621"
					data-map-lng="-89.8062743"
        			data-map-zoom="12"
        			data-map-style="grey"></div>
				</div>{{!--/.map-container--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.location-map--}}