<div data-closable class="sl_notification" style="padding: 16px; text-align: center; background-color: #ddd; z-index: 99999; position: relative;">
	<p style="margin-bottom: 0;"><strong>Committed to Safety:</strong> Latest information on COVID-19 Precautions <a style="text-decoration: underline; font-weight: 700;" href="https://theoakstreatment.com/important-covid-19-update-from-the-oaks-at-la-paloma/">Learn More</a></p>
	<button class="close-button" style="right: .5rem; top: 0;" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
	</button>{{!--/button--}}
</div>