<div id="{{id}}" class="module callout {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="card-section">
			<h3 class="sl_overlay__header">The Oaks at La Paloma Has Moved</h3>
			<p class="sl_overlay__content">Our Memphis-based residential treatment center, The Oaks at La Paloma, has relocated, effective April 1, 2020, to the <a href=" https://lakesidebhs.com/programs/the-oaks-at-lakeside/">Lakeside Behavioral Health System</a> campus in Memphis, TN. The program will now be referred to as <b>The Oaks at Lakeside.</b>
			<br><br>
			Not only is Lakeside BHS a sister facility, and a well-known pillar in the Memphis community, they also have a beautiful 37-acre campus that features a 345-bed facility designed to make recovery an accessible, effective reality in the lives of our patients.
			<br><br>
			Our Memphis-based intensive outpatient program, <b>Foundations Memphis</b> will remain at its current location in East Memphis, while affiliated as a program of Lakeside BHS.
			<br><br>
			With this consolidation, we will offer a full continuum of patient care – including acute care, detox, residential treatment, and outpatient programs – and together be a more complete resource to the community.
			<br><br>
			It has been our privilege to serve the Memphis community for the past 15 years, and we look forward to continuing to do so in our new home at <a href=" https://lakesidebhs.com/programs/the-oaks-at-lakeside/">Lakeside</a>! To find out more about The Oaks at Lakeside’s residential and outpatient treatment programs, call us at <a id="callinfo" class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} sl_content__phone" href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"
			data-ict-discovery-number="{{@root.site.phone}}"
			data-ict-silent-replacements="false"
			onClick="fbq('track', 'Lead', {
						content_name: 'The Oaks PPC', 
						content_category: 'Landing Pages',
						content_type: 'Phone Clicks'
					  });"
			 data-ga-event
			 data-ga-category="Phone Numbers"
			 data-ga-action="Phone Clicks"
			 data-ga-action="Phone Header"
			>{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}</a>.
			<br><br>
			Sincerely,
			<br><br>
			The Oaks at La Paloma and Lakeside Behavioral Health System Leadership Team</p>
	
			<div class="divider clearfix"></div>
			
			<div class="sl_overlay__contact">
			  <div class="sl_overlay__btn">
				<a href=" https://lakesidebhs.com/programs/the-oaks-at-lakeside/" class="button small round">Visit Lakeside</a>
			  </div>
			  <div class="sl_overlay__phone">
				  <span>Call us today:</span><a id="callinfo" class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}}" href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"
				  data-ict-discovery-number="{{@root.site.phone}}"
				  data-ict-silent-replacements="false"
				  onClick="fbq('track', 'Lead', {
							  content_name: 'The Oaks PPC', 
							  content_category: 'Landing Pages',
							  content_type: 'Phone Clicks'
							});"
				   data-ga-event
				   data-ga-category="Phone Numbers"
				   data-ga-action="Phone Clicks"
				   data-ga-action="Phone Header"
				  >{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}</a>
			  </div>
			</div>
			<div class="sl_overlay__request">
				<p>To request medical records please contact UHS-NRO Records Department. Fax a copy of the completed/signed ROI form for <a href="/wp-content/uploads/805-The-Oaks-at-laPaloma-ROI-Form.pdf">the Oaks at La Paloma</a> or for <a href="/wp-content/uploads/814-Foundation-Memphis-ROI-Form.pdf">Foundations Memphis</a> to FAX# <a href="tel:615-997-1200">(615) 997-1200</a> or it can be emailed to <a href="mailto:nrorecordsrequests@uhsinc.com">nrorecordsrequests@uhsinc.com</a>. If you need additional guidance on medical records, please call <a href="tel:615-312-5834">(615) 312-5834</a>.</p>
			</div>
		</div>{{!--/.card-section--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module callout--}}