<div id="{{id}}" class="module gallery {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="gallery-card">
			<h2>{{heading}}</h2>
			{{#markdown}}{{text}}{{/markdown}}
		</div>{{!--/.gallery-card--}}

		<div id="gallery-slider" class="gallery__slider">
		{{#each gallery-images}}
			<div class="gallery-image" style="background-image: url({{img}})"></div>
		{{/each}}          
		</div>{{!--/.__slider--}}
</div>{{!--inner--}}
</div>{{!--/.module.gallery--}}