<div id="{{id}}" class="module content-block {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if heading}}<h2>{{heading}}</h2>{{/if}}
		{{#if divider}}<div class="divider"></div>{{/if}}
		{{#markdown}}{{text}}{{/markdown}}
		{{#if buttons}}
		<div class="expanded button-group">
	        {{> component-button phone=true}}
	        {{> component-button chat=true red=true}}
	    </div>{{!--/.expanded.button-group--}}
	    {{/if}}
	</div>{{!--/.inner--}}
</div>{{!--/.module callout--}}