<div id="accreditations" class="module deck-accreditations {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x" data-equalizer> 
			<div class="cell medium-4 small-12">
				<div id="object-01" class="panel accred-card" role="slide-toggle-container" data-panel="#object-01">
					<div class="card-content" data-equalizer-watch>
						<script src="https://static.legitscript.com/seals/3417925.js"></script>
						<h4>LegitScript</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>LegitScript verification ensures our patients that we follow best practices when it comes to applicable healthcare laws and regulations. It demonstrates that we have been vetted thoroughly and proven our commitment to integrity and transparency. You can be assured that a website verified by LegitScript is a qualified treatment center that demands the best from our clinicians and other staff.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="button primary outline icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="LegitScript">Learn More</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.medium-4.small-12--}}
			<div class="cell medium-4 small-12">
				<div id="object-02" class="panel accred-card" role="slide-toggle-container" data-panel="#object-02">
					<div class="card-content" data-equalizer-watch>
						<img width="180px" src="assets/img/accreditations/naatp-stacked-color-full.svg" alt="Joint Commission">
						<h4>NAATP</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The National Association of Addiction Treatment Providers, NAATP, has been the addiction service profession’s vision, voice, and thought leader since 1978. We are committed to advancing addiction services and supporting our ever growing membership of service providers. NAATP is a nonprofit professional society of top treatment providers throughout the continuum of care. NAATP’s service as a convening body brings the industry together to promote collegiality and the dissemination of best practices.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="button primary outline icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="NAATP">Learn More</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.medium-4.small-12--}}
			<div class="cell medium-4 small-12">
				<div id="object-03" class="panel accred-card" role="slide-toggle-container" data-panel="#object-03">
					<div class="card-content" data-equalizer-watch>
						<img src="assets/img/accreditations/jointcommission.png" alt="Joint Commission">
						<h4>Joint Commission</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The Gold Seal of Approval(R) from the Joint Commission recognizes our commitment to safety and quality of care. The Joint Commission is the leading organization ensuring hospitals and health care providers meet the highest standards.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="button primary outline icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="Joint Commission">Learn More</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.medium-4.small-12--}}
		</div>{{!--/.accordion-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.accreditations-accordion--}}